@media print {
  body * {
    visibility: hidden;
  }
  .relatorio-print-area, .relatorio-print-area * {
    visibility: visible;
  }
  .relatorio-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
  .d-print-block {
    display: block !important;
  }
}
